body {
    font-family: sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

#logo {
    max-width: 150px;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

#social-links {
    text-align: center;
    margin-bottom: 20px;
}

#social-links a {
    margin: 0 10px;
}

#links .link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

#links .link img {
    max-width: 40px;
    margin-right: 10px;
}